html {
	text-align: center;
}

body {
	background-color: #1b1b1b;
	margin-top: 75px;
}

h1, button {
	font-family: quicksand;
	color: white;
}

h1,h2, p, li, label, h3 {
	font-family: caslon;
	color: white;
}

a {
	color: #0E7C7B;
}

h1 {
	font-size: 450%;
}

h2 {
	font-size: 170%;
}
h3 {
	font-size: 150%;
}

p {
	font-size: 120%;
}

img {
	height: 20%;
	width: 20%;
	border-radius: 50%;
	overflow: hidden;
}

ul li {
	text-align: left;
	font-size: 150%;
}
input {
	width: 600px;
}

a {
	text-decoration: none;
	color: black;
}
.header {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	padding-bottom: 75px;
	overflow: hidden;
	background-color: rgb(255, 255, 255);
}

#middle-header {
	position: fixed;
	top: 15px;
	right: 0%;
	left: 0%;
}

#left-header {
	position: fixed;
	top: 15px;
	left: 3%;
}

#right-header {
	position: fixed;
	top: 15px;
	right: 3%;
}

.button {
	font-family: quicksand;
	width: 130px;
	height: 20px;
	padding: 10px 25px;
	border: 2px solid #000;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
  }

  .button {
	transition: all 0.3s ease;
	overflow: hidden;
  }
  .button:after {
	position: absolute;
	content: " ";
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	transition: all 0.3s ease;
	-webkit-transform: scale(.1);
	transform: scale(.1);
  }
  .button:hover {
	color: #fff;
  }
  .button:hover:after {
	background: #000;
	-webkit-transform: scale(1);
	transform: scale(1);
  }

  .button-white {
	font-family: quicksand;
	width: 240px;
	height: 20px;
	padding: 10px 25px;
	margin-top: 1%;
	margin-bottom: 1%;
	border: 2px solid #000;
	font-weight: 500;
	background: black;
	color: white;
	cursor: pointer;
	transition: all 0.3s ease;
	display: inline-block;
  }

  .button-white {
	transition: all 0.3s ease;
	overflow: hidden;
  }
  .button-white:after {
	content: " ";
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	transition: all 0.3s ease;
	-webkit-transform: scale(.1);
	transform: scale(.1);
  }
  .button-white:hover {
	color: black;
	background: transparent;
  }
  .button-white:hover:after {
	background:black;
	-webkit-transform: scale(1);
	transform: scale(1);
  }



  .button-black {
	font-family: quicksand;
	width: 240px;
	height: 20px;
	padding: 10px 25px;
	margin-top: 1%;
	margin-bottom: 1%;
	border: 2px solid #000;
	font-weight: 500;
	background: white;
	color: black;
	cursor: pointer;
	transition: all 0.3s ease;
	display: inline-block;
  }

  .button-black {
	transition: all 0.3s ease;
	overflow: hidden;
  }
  .button-black:after {
	content: " ";
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	transition: all 0.3s ease;
	-webkit-transform: scale(.1);
	transform: scale(.1);
  }
  .button-black:hover {
	color: white;
	background: black;
  }
  .button-black:hover:after {
	background:white;
	-webkit-transform: scale(1);
	transform: scale(1);
  }

.projects {

	background-color: white;
	margin: 0%;

}
.projects h2, .projects h3 {
	color: black;
	margin-top: 3%;
	margin-bottom: 0%;
}
.projects h2 {
	font-size: 275%;
	padding-top: 2%;
}

.projects p {
	margin-top: 0%;
	margin-bottom: 0%;
	color: black;
}
.project-text {
	margin-left: 10%;
	margin-right: 10%;
}

.resume h2 {
	font-size: 275%;
}

.pdf {
	width: 75%;
	height: 800px;
}
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
  
  .column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
  }
  
  .blue-column, .green-column {
	  text-align: left;
	  height: 50%;
  }

  .blue-column {
	  margin-left: 10%;
  }

  .name {
	  margin-top: 10%;
	  margin-bottom: 0px;
  }
  .name2 {
	  margin-top: 0px;
  }


.logos {
	background-color: #fff;
	display: flex;
}
.col, .col1, .col2 {
	flex: 1;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
}
.col1 {
	
	margin-left: 20%;
}

.col2 {
	margin-right: 20%;
}

.social {
	height: 75px;
	width: 75px;
}

.picture_matt {
	display: block;
	max-width:400px;
	max-height:400px;
	width: auto;
	height: auto;
	margin-top: 6%;
	margin-bottom: 3%;
	margin-left: 20%;
}



#footer {
	position: relative;
    bottom: 0;
    width: 100%;
}

#info {
	width: 50%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#message {
	font-family: Arial, Helvetica, sans-serif;
	width: 600px;
	height: 150px;
}

#send-button {
	width: 75px;
	margin-top: 10px;
}

@font-face {
	font-family: caslon;
	src: url('fonts/Caslon Regular.ttf') format('truetype');
}

@font-face {
	font-family: quicksand;
	src: url('fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
}

::selection {
	background: #0E7C7B;
}